package templates

templ MainLayout(title string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<title>{ title }</title>
			<meta charset="UTF-8"/>
			<meta name="description" content="gin templ htmx hyperscript boilerplate"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
			<link rel="stylesheet" href="/assets/styles/index.css"/>
			<script src="/assets/scripts/htmx.min.js"></script>
			<script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
			<script src="https://unpkg.com/htmx.org@1.9.11/dist/ext/ws.js"></script>
		</head>
		<body class="subpixel-antialiased flex flex-col items-center text-gray-600 max-h-dvh h-dvh overflow-hidden bg-gray-50">
			{ children... }
			<h1>testing</h1>
		</body>
	</html>
}
